# Ignore IDE config files
.idea/
.vscode/

.buildinfo
doc/Makefile
integration/x3dna/*.out
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

RNAMake.xcodeproj/
# C extensions
*.so
*.o
*.dylib

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot


#MAC
.DS_Store
.ropeproject
*.swp

# clion files
*.cbp

# builds
cmake/build_*/*
cmake/build/*

#tests
tests/design_rna_scaffold/*/outputs/*

integration/motif/*.a
integration/motif/*.pdb
integration/x3dna/*.a
*.out
*.a
