<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Atom.unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RNAMake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ResidueTypeSet_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Residue_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Structure_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>basepair.unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>motif.unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>motif_library_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>motif_tree.unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>motif_tree_state.unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C4F56091A74596400C7E6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4F56281A75850E00C7E6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4F56471A76229800C7E6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B231A79F0AB00EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B3B1A7C339600EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B5B1A7FD9BC00EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B631A7FD9DC00EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B7E1A7FDA5C00EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B9B1A7FDB4300EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA7AB781A82AD7C0063C8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA7AB981A83F0910063C8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE55A251A4A552F00F300F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE55A391A4A59C100F300F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
