<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RNAMake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>design_primers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>eternabot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>find_rings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>motif_ensemble_tree.unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>motif_tree_path_refiner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>motif_tree_state_search.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>secondary_structure_tree.unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>simulate_tectos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>unittests copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>unittests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>vienna_clone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C147FF11AF02B3F00F01A6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2241411AC62A4100F76233</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3AB1751A906F4000361C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3AB1AF1A995B5F00361C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3AB1BA1A995B7B00361C7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C3C0AA21AAB7B7400891276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4B4F171AB2577D00A2F04C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4B4F461AB8F7B300A2F04C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4E3DEA1B0AC2090076284E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4F144D1AA2A690003B7895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4F56091A74596400C7E6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4F56281A75850E00C7E6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C4F56471A76229800C7E6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C7C1FC81B9FA10F00E6E959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C7C20301B9FA12D00E6E959</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B231A79F0AB00EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B3B1A7C339600EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B5B1A7FD9BC00EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B631A7FD9DC00EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B7E1A7FDA5C00EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C855B9B1A7FDB4300EED04D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C8FA10D1AD1A2E20001B29C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA7AB781A82AD7C0063C8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA7AB981A83F0910063C8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA7AC021A853E340063C8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CA7AC3D1A8FFBDD0063C8A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CBEFE631AF0496E00C03772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CBEFF541AF1B43400C03772</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE55A251A4A552F00F300F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE55A391A4A59C100F300F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
